[Desktop Entry]
Version=1.0
Type=Application

Name=Subtasks
Comment=A template for creating GNOME apps with Swift
Categories=Development;GNOME;

Icon=io.github.david_swift.Subtasks
Exec=Subtasks
Terminal=false